<div class="gameMainView">
    <div class="gameHeader">
  
        <label class="headItem"> User name: {{userName}} </label>
        <label class="headItem"> Your tank: </label>       
        <img class="tankImage" [src]="tankImagePath">
        <button class="btn btn-primary" id="boton1" style="margin-left:10px;" (click)="newGame()" >
            Iniciar
            <span class="glyphicon glyphicon-play"></span>
        </button>
                
    </div>

    <div class="gameBody">
        <div id="gameBoard" class="gameDisplay container-fluid">
            <canvas height="720px" width="720px" id="lienzo" style="height: 580px;" #canvas>
            </canvas>
        </div>   
    </div>
</div>
