
.viewHead{
    padding: 0.5%;
    margin-left: 10%;
    color: white;
}

.viewTank{
    padding: 0.5%;
    margin-left: 40%;
    color: white;
  
}

tankImage{
    padding: 0.5%;
    margin-left: 65%;
    width: 10%;
    height: 6%;
}

.gameBoard{
    padding-top: 2%;
    width: 90%;
    height: 90%;
}


#canvas{
    width: 90%; 
    height: 90%;   
}